<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nh.automation.tools.crud.mapper.EmployeeMapper">
  <resultMap id="BaseResultMap" type="nh.automation.tools.crud.entity.Employee">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="salary" jdbcType="DOUBLE" property="salary" />
  </resultMap>
  <select id="getEmployeeById" parameterType="int" resultType="nh.automation.tools.crud.entity.Employee">
  	select * from employee where id =#{id}
  </select>
  <insert id="insert" parameterType="nh.automation.tools.crud.entity.Employee">
    insert into employee (id, name, age, 
      salary)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, 
      #{salary,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="nh.automation.tools.crud.entity.Employee">
    insert into employee
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="salary != null">
        salary,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
      <if test="salary != null">
        #{salary,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
</mapper>